<h1>CREATE PAGE</h1>
<!--action=where it goes next in the controller.  method =post, bc sending info to database-->
<form action='url' method='post'>
  <input type="text" name="variable" placeholder="task name">
  <button>New Task</button>
</form>